.input{
    width: 100%;
    padding: 15px 30px;
    border: none;
    background-color: #dfdddd;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    outline-color: #24e0a4;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
}
@media only screen and (max-width: 600px){
    .input{
        font-size: 8px;
    }
}