
.title{
  font-family: 'Inter', sans-serif;
  font-size: 2vw;
  color: #272545;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.tableContainer {
  max-width: 100%;
  overflow-x: auto;
  box-shadow:  -14px -14px 28px #b8b8b8,
                14px 14px 28px #ffffff;
}

.transacaoTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow:  -14px -14px 44px #a4a4a4,
             14px 14px 44px #ffffff;
}

.transacaoTable th, .transacaoTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.transacaoTable th {
  background-color: #564eaa;
  color: #ffff;
  text-align: center;
  text-transform: uppercase;
}

.rowReceita {
  color: #007BFF;
}

.rowDespesa {
  color: #FF4500;
}

.buttonDelete {
  background-image: url('../../../public/trash-bin.png');
  background-repeat: no-repeat;
  background-size: cover; /* Certifica-se de que a imagem cubra todo o botão */
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.buttonDelete:hover {
 transform: scale(1.1);
}

/* Estilos para telas menores (smartphones) */
@media (max-width: 767px) {
  .title {
    font-size: 4vw; /* Ajuste o tamanho da fonte para smartphones */
    margin-top: 10px; /* Ajuste a margem superior para smartphones */
  }

  .tableContainer {
    overflow-x: auto;
    padding: 10px; /* Adicione um pouco de preenchimento para melhorar a aparência */
  }

  .transacaoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Ajuste a margem superior para smartphones */
  }

  .transacaoTable th, .transacaoTable td {
    padding: 8px; /* Ajuste o preenchimento para smartphones */
  }

  .buttonDelete {
    width: 20px; /* Ajuste o tamanho do ícone para smartphones */
    height: 20px; /* Ajuste o tamanho do ícone para smartphones */
    cursor: pointer;
  }
  
  .buttonDelete:hover {
    transform: scale(1); /* Ajuste a escala ao passar o mouse para smartphones */
  }
}
