.formCard {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 40px ;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  24px 24px 55px #a8a8a8,
               -24px -24px 55px #ffffff;
  width: 400px; /* Defina o tamanho do card conforme necessário */
  margin: 0 auto; /* Centraliza o card na tela */
  margin-top: 50px;
  
}

.cardHeader{
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
  margin-bottom: 20px;
  color: #272545;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.cardLabel {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2vw;
}

.cardInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.cardInput input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
 }
 .cardInput input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 .cardInput input[type="number"] {
   -moz-appearance-: textfield;
 }

.cardButton {
  background-color: #383568;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
}

.cardButton:hover {
  background-color: #005f6b;
}

.tipoButtons {
  gap: 10px;
  display: flex;
}

.tipoButtons button {
  border: 0;
  padding: 10px;
  width: 15vw;
  height: 7vh;
  font-size: 1.2vw;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.tipoButtons button.active {
  background-color: #383568;
  color: white;
}

@media (max-width: 767px) {
  .formCard {
    width: 80%; /* Ajuste o tamanho do card para smartphones */
    padding: 15px; /* Ajuste o preenchimento para smartphones */
    margin: 20px auto; /* Centralize o card na tela para smartphones */
  }

  .cardHeader {
    font-size: 4vw; /* Ajuste o tamanho da fonte para smartphones */
    margin-top: 10px; /* Ajuste a margem superior para smartphones */
    margin-bottom: 10px; /* Ajuste a margem inferior para smartphones */
  }

  .cardLabel {
    font-size: 3vw; /* Ajuste o tamanho da fonte para smartphones */
    margin-bottom: 8px; /* Ajuste a margem inferior para smartphones */
  }

  .cardInput {
    padding: 8px; /* Ajuste o preenchimento para smartphones */
    margin-bottom: 8px; /* Ajuste a margem inferior para smartphones */
  }

  .cardInput input[type="number"] {
    font-size: 3vw; /* Ajuste o tamanho da fonte para smartphones */
  }

  .cardButton {
    padding: 8px 16px; /* Ajuste o preenchimento para smartphones */
    font-size: 3vw; /* Ajuste o tamanho da fonte para smartphones */
  }

  .tipoButtons button {
    padding: 8px; /* Ajuste o preenchimento para smartphones */
    font-size: 3vw; /* Ajuste o tamanho da fonte para smartphones */
  }
}

