@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Estilos para o formulário de investimentos */
.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  -webkit-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: "Inter", sans-serif;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formContainer h2 {
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  color: #272545;
  font-weight: 700;
}

.inputField {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: unset;
}

.inputField:focus {
  outline: none;
  border-color: #24e0a4; /* Cor ao focar o input */
}

/* Estilos para os cards */
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  font-family: "Inter", sans-serif;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px -5px 10px #5a5a5a, 5px 5px 10px #ffffff;
  background-color: #ffffff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 250px;
}
.backButton {
    background-color: #383568;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8vw;
    position: absolute;
    top: -40px;
    left: 20px;
    margin-top: 100px;
  }
  
  .backButton:hover {
    background-color: #005f6b;
  }