.card {
    background-color: #f2f2f2; /* Cor de fundo mais clara */
    border: 1px solid #ddd; /* Borda com cor mais suave */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    padding: 20px; /* Maior espaço interno */
    margin: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-6px); /* Eleva um pouco mais no hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra maior no hover */
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; /* Um pouco mais de espaço abaixo do cabeçalho */
  }
  
  .cardHeader h2 {
    font-size: 22px; /* Tamanho de fonte ligeiramente maior */
    margin: 0;
  }
  
  .likeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px; /* Ícone um pouco maior */
    color: #e74c3c; /* Cor do ícone */
  }
  
  /* Adicione estas classes no seu arquivo Card.module.css */
  .cardForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cardForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .cardForm button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cardForm button:hover {
    background-color: #0056b3;
  }
  